/* General styles */
* {
  background-color: black;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 1px;
  padding: 20px;
}

img {
  width: 150px;
}

div {
  margin: 30px;
}

span {
  font-weight: 700;
  align-self: center;
}

h1 {
  font-size: 80px;
  font-weight: 1000;
  text-align: center;
  margin: 10px;
}

/* Media queries to target mobile devices and define custom styles */
@media screen and (max-width: 700px) {
  h1 {
    font-size: 60px;
  }

  div {
    margin: 20px;
  }

  span {
    font-size: 24px;
  }

  .buttons {
    flex-direction: column;
    gap: 20px;
  }

  img {
    width: 100px;
  }
}

/*Defining the scaling effect when the user hovers over the buttons*/
button:hover {
  transform: scale(1.1);
}

/*Defining the gradient animation on the header*/
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.animate-character {
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #b52bd4 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 15s linear infinite;
  display: inline-block;
}

/*Adjusting the gap between span elements*/
.score-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*Formatting the buttons*/
.buttons {
  display: flex;
  gap: 80px;
}
